$keyLine-clr: #eee;

svg#keywords-viz {
	text.keywords-title { fill: white; }
	.grid-wrapper line.grid { stroke-dasharray: 4,2; stroke: $keyLine-clr;  }
	.x-axis {
		.tick line { stroke: transparent; }
		path { stroke: $keyLine-clr; }
		text { fill: $keyLine-clr; }
	}
	.bar-wrapper {
		rect.bar { fill: $header-clr; }
		rect.overlay { fill: transparent; }
		text { fill: $keyLine-clr; }
	}
	g#messages-wrapper {
		rect#overlay { fill: $default-back; }
	}
}
