$keyLine-clr: #eee;

svg#keywords-viz {
	text.keywords-title { fill: white; }
	.grid-wrapper line.grid { stroke-dasharray: 4,2; stroke: $keyLine-clr;  }
	.x-axis {
		.tick line { stroke: transparent; }
		path { stroke: $keyLine-clr; }
		text { fill: $keyLine-clr; }
	}
	.bar-wrapper {
		rect.bar { fill: $header-clr; }
		rect.overlay { fill: transparent; }
		text { fill: $keyLine-clr; }
	}
	g#messages-wrapper {
		rect#overlay { fill: $default-back; }
	}
}

div#messages-content {
	display: inline-block; position: absolute; color: white;
	#title-wrapper { @include ellipsis(); }
	#messages-wrapper {
		width: 100%; overflow-y: auto;
		.message-wrapper {
			padding: 10px; margin-bottom: 10px;
			.content { font-size: 14px; margin-bottom: 5px; }
			.additional {  }
		}
	}
	#back-button {
		position: absolute; left: 0px; top: calc(50% - (35px / 2));
		i { font-size: 35px; }
	}
}
