#category-wrapper {
	height: $cate-height;
	& > div { display: inline-block; float: left; }
	#cate-container {
		width: calc(100% - #{$edge-width}); height: 100%;
		svg {
			.group-bar {
				.bar.fill { fill-opacity: .35; }
				text { font-size: 7px; }
				&.unintended {
					.bar.cream { fill-opacity: .2; }
					.bar.fill { fill-opacity: .05; }
					text { fill-opacity: .5; }
				}
			}
			.grid line { stroke: lightgrey; stroke-opacity: 0.15; shape-rendering: crispEdges; }
			.grid path, .axis path { stroke-width: 0; }
			.axis { font-size: 7px; }
			text {
				fill: white;
				&.unintended { fill-opacity: 0.35; }
			}
		}
	}
	#cate-buttons {
		width: $edge-width; background: $active-clr; color: white; text-transform: uppercase; letter-spacing: .5px; height: 75%;
		& > div {
			height: calc((100% - 2px) / 3); display: flex; justify-content: center; align-items: center; cursor: pointer; @include noselect();
			&:not(:last-child) { border-bottom: 1px solid; }
		}
	}
}
