#content-wrapper {
	height: $content-height; position: relative;
	.tooltips {
		position: absolute; background: rgba(black, .4); color: white; padding: 7.5px 10px; border-radius: 3px;
		&::after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-top-color: rgba(black, .4); border-width: 8px; margin-left: -8px; }
		&#keywords-tooltips { background: rgba(black, .6); &::after{ border-top-color: rgba(black, .6); }}
	}
}
