#footer {
	height: #{$footer-height / 2}; padding: #{$footer-height / 4}; padding-right: 0px;
	#navigation {
		width: calc(100% - #{$edge-width * 1.5}); height: 100%; padding-left: 0px; background: rgba(black, .5); display: table; table-layout: fixed; float: left;
		ul {
			display: table-row; color: white;
			li {
				display: table-cell; cursor: pointer; vertical-align: middle; text-align: center; @include noselect();
				&.active { background-color: $active-clr; }
				&:not(:last-child) { border-right: 1px solid $active-clr; }
			}
		}
	}
	.logo-wrapper {
		display: inline-block; float: right; height: 100%;
		img { display: block; margin: 0 auto; }
		&#plj-logo { width: $edge-width * .85; img { height: 100%; width: auto; }}
		&#kpk-logo { width: $edge-width * .65; img { width: 65%; margin: 6% 0 0 30%; }}
	}
}
