#footer {
	height: #{$footer-height / 2}; padding: #{$footer-height / 4}; padding-right: 0px;
	#navigation {
		width: calc(100% - #{$edge-width}); height: 100%; padding-left: 0px; background: rgba(black, .5); display: table; table-layout: fixed; float: left;
		ul {
			display: table-row; color: white;
			li {
				display: table-cell; cursor: pointer; vertical-align: middle; text-align: center; @include noselect();
				&.active { background-color: $active-clr; }
				&:not(:last-child) { border-right: 1px solid $active-clr; }
			}
		}
	}
	#logo-wrapper {
		display: inline-block; float: right; width: $edge-width; height: 100%; img { height: 100%; width: auto; display: block; margin: 0 auto; }
	}
}
