#header {
	height: $header-height; padding: 0px 35px; position: relative; background: $header-clr;
	& > div { display: inline-block; }
	div#header-title {
		width: $title-width; float: left;
		span { color: white; font-size: 18px; line-height: $header-height; font-family: 'SF Bold'; }
	}
	div#header-options-wrapper {
		width: calc(100% - #{$title-width}); max-width: 1150px; float: right; @include transform(translate(0px, -35%)); top: 50%; position: relative;
		div.header-options {
			width: calc((100% - 50px) / 3); display: inline-block; float: left; line-height: $options-height; &:not(:first-child) { padding-left: 25px; }
			.options-title { color: white; font-size: 10px; letter-spacing: .25px; width: 25%; display: inline-block; @include ellipsis(); }
			.options-selector {
				width: 75%; display: inline-block; float: right; background: $input-back;
				input { width: calc(100% - #{$options-height + 21px}); display: inline-block; float: left; border: none; padding: 0px 10px; height: $options-height; background: transparent; color: $input-clr; }
				.options-button { width: $options-height; display: inline-block; float: right; text-align: center; color: $input-clr; border-left: 1px solid #6a7e84; }
				&:hover { input, .options-button { color: white; }}
			}
			&#header-province, &#header-regency {
				position: relative;
				.chevron-wrapper {
					position: absolute; color: white; top: 0px; right: -7px; font-size: 12px; height: 100%;
					i {
						position: absolute;
						&.fa-chevron-up { top: 10% }
						&.fa-chevron-down { bottom: 34% }
						&.not-active { opacity: .4; }
					}
				}
			}
		}
	}
}

.jq-dropdown > div { border: none; @include clearfix(); }
.jq-dropdown {
	div.jq-dropdown-panel, ul.jq-dropdown-menu { background: #eee; border: none; }
	&::before, &::after { border-bottom-color: #eee!important; }
}
#dropdown-datasource {
	width: 300px;
	.datasource-opt {
		width: calc(50% - 1px); display: inline-block; float: left; text-align: center; padding: 6px 0px; background: $nonactive-clr; color: white; margin: 1px 0; border-radius: 3px; &:nth-child(odd) { margin-right: 2px; }
		&.active { background-color: $header-clr; }
	}
}
#dropdown-region, #dropdown-regency {
	ul {
		max-height: 350px; overflow: auto;
		li {
			padding: 2px 20px; &:hover { background: $header-clr; color: white; }
		}
	}
}

.date-picker-wrapper {
	background: #eee; font-family: 'SF Regular'; border-radius: 3px; border: none; font-size: 10px;
	.drp_top-bar {
		.apply-btn { background-color: $header-clr; color: white; border: none; padding: 5px 15px; font-size: 10px; }
		b { font-family: 'SF Bold'; color: $header-clr; }
	}
	.month-wrapper {
		border-color: $header-clr; background: #eee;
		.gap {
			.gap-line .gap-1 { border-top-color: $header-clr; border-bottom-color: $header-clr; }
			.gap-top-mask, .gap-bottom-mask { background-color: transparent; }
		}
		table {
			thead { font-family: 'SF Bold'; color: $header-clr; }
			.day { font-size: 10px; }
			.day.checked { background-color: $header-clr; color: white!important; }
			.day.first-date-selected, .day.last-date-selected { background-color: $header-clr!important; }
			.day.real-today { background-color: lightgray; }
		}
	}
	.date-range-length-tip {
		padding: 3px 6px; margin-top: -10px; margin-left: -6px; background-color: $header-clr; color: white; &::after { border-top-color: $header-clr; }
	}
}
