@font-face {
    font-family: "SF Regular";
    src: url("/font/System San Francisco Display Regular.ttf");
}
@font-face {
    font-family: "SF Bold";
    src: url("/font/System San Francisco Display Bold.ttf");
}
@font-face {
    font-family: "TG Bold";
    src: url("/font/TradeGothic-Bold.ttf");
}
@font-face {
    font-family: "TG CondEighteen";
    src: url("/font/TradeGothic-CondEighteen.ttf");
}
@font-face {
    font-family: "TG LightOblique";
    src: url("/font/TradeGothic-LightOblique.ttf");
}

$def-font-stack : "SF Regular";
$default-back   : #525254;
$base-color		: #3d8fb1;
$header-clr		: #647e85;

$active-clr		: #5a6569;
$nonactive-clr	: #a8a8a8;

$header-height	: 6vh;
$cate-height	: 19vh;
$content-height	: 65vh;
$footer-height	: 10vh;
$edge-width		: 12.5vw;

$title-width	: 350px;
$options-height	: 28px;
$input-back		: #61757c;
$input-clr		: #b6c0c5;
