@import "statics";
@import "mixins";

a { cursor: pointer; text-decoration: none; color: black; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
img { max-width: 100%; height: auto; }
textarea { resize: none; }
input { -webkit-appearance: none; -moz-appearance: none; box-shadow: none; outline: none; }
input[type=number] { -moz-appearance:textfield; }
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
*:focus, select { outline: none!important; }
.bold { font-weight: 700 !important; }
.uppercase { text-transform: uppercase !important; }
.capitalize { text-transform: capitalize!important; }
.float-left { float: left!important; display: inline-block; }
.float-right { float: right!important; display: inline-block; }
.align-left { text-align: left!important; }
.align-right { text-align: right!important; }
.align-center { text-align: center!important; }
.force-middle { margin: auto!important; float: none!important; display: block!important; }
.cursor-default { cursor: default; @include noselect(); }
.cursor-pointer { cursor: pointer; @include noselect(); }
.noselect { @include noselect(); }
.nopadding { @include nopadding(); }
.hidden { display: none; }
html, body, body > div#root {
	width: 100%; height: 100%; margin: 0px; padding: 0px; overflow: hidden; font-family: $def-font-stack; font-size: 14px;
	-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: black;
}
div#root {
    background: $default-back; position: relative;
	$header-height: 90px;
	#header {
		height: $header-height; padding: 0px 35px; position: relative;
		img#header-logo { height: 40px; width: auto; position: absolute; top: calc(50% + 1px); @include transform(translate(0px, -50%)); }
		span { color: $base-color; font-size: 30px; font-style: italic; line-height: $header-height; margin-left: 50px; font-family: 'TG Bold'; }
	}
	$panel-width: 300px;
	#panel-wrapper {
		width: calc(#{$panel-width} - 30px); height: calc(100% - #{$header-height}); display: inline-block; float: left; padding: 0px 15px;
		.panel {
			background: #f1f1f1; margin-bottom: 15px; @include clearfix();
			.panel-title {
				padding: 10px 15px;
				i { color: #a8a8a8; font-size: 20px; }
				span { color: $active-clr; text-transform: uppercase; font-size: 13px; margin-left: 5px; vertical-align: top; line-height: 20px; font-family: 'TG Bold'; }
			}
			.panel-value {
				&#datasource {
					.datasource-opt.active { background: $active-clr; }
				}
				&#area {
					background: white; border: 2px solid #f1f1f1; border-top: none;
					select { width: 100%; height: 27px; background: white; border-color: white; }
				}
				&#categories {
					max-height: 200px; overflow-y: auto; @include clearfix();
					.categories-opt { }
				}
				&#datepicker {
					#datepicker-input {
						width: calc(100% - 6px); border: none; text-align: center; padding: 7px 0px; margin: 0px 3px 5px;
					}
				}
				&#periodepicker {
					.periode-opt {
						width: calc(25% - 1.5px)!important; &:not(:last-child) { margin-right: 2px; } &.active { background: $active-clr; }
					}
				}
				.selections { width: calc(50% - 1px); display: inline-block; float: left; text-align: center; padding: 6px 0px; background: $nonactive-clr; color: white; margin: 1px 0; &:nth-child(odd) { margin-right: 2px; }}
			}
			.panel-buttons {
				width: calc(50% - 1px); display: inline-block; float: left; text-align: center; padding: 10px 0px 8px; color: white; margin: 1px 0; &:not(:last-child) { margin-right: 2px; }
				&#save-button { background: #478cb5; }
				&#apply-button { background: #16aeec; }
			}
		}
	}
	#content-wrapper {
		width: calc(100% - #{$panel-width}); height: calc(100% - #{$header-height}); display: inline-block; float: right;
	}
}
