@import "statics";
@import "mixins";

a { cursor: pointer; text-decoration: none; color: black; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
img { max-width: 100%; height: auto; }
textarea { resize: none; }
input { -webkit-appearance: none; -moz-appearance: none; box-shadow: none; outline: none; }
input[type=number] { -moz-appearance:textfield; }
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
*:focus, select { outline: none!important; }
.bold { font-weight: 700 !important; }
.uppercase { text-transform: uppercase !important; }
.capitalize { text-transform: capitalize!important; }
.float-left { float: left!important; display: inline-block; }
.float-right { float: right!important; display: inline-block; }
.align-left { text-align: left!important; }
.align-right { text-align: right!important; }
.align-center { text-align: center!important; }
.force-middle { margin: auto!important; float: none!important; display: block!important; }
.cursor-default { cursor: default; @include noselect(); }
.cursor-pointer { cursor: pointer; @include noselect(); }
.noselect { @include noselect(); }
.nopadding { @include nopadding(); }
.hidden { display: none; }
html, body, body > div#root {
	width: 100%; height: 100%; margin: 0px; padding: 0px; overflow: hidden; font-family: $def-font-stack; font-size: 14px;
	-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: black;
}
div#root {
    background: $default-back; position: relative;
	#header {
		height: $header-height; padding: 0px 35px; position: relative; background: $header-clr;
		& > div { display: inline-block; }
		div#header-title {
			width: $title-width; float: left;
			span { color: white; font-size: 25px; line-height: $header-height; font-family: 'SF Bold'; }
		}
		div#header-options-wrapper {
			width: calc(100% - #{$title-width}); max-width: 1150px; float: right; padding-top: 5px; @include transform(translate(0px, 50%)); top: 50%;
			div.header-options {
				width: calc((100% - 150px) / 3); display: inline-block; float: left; line-height: $options-height; &:not(:first-child) { padding-left: 75px; }
				.options-title { color: white; font-size: 13px; letter-spacing: .25px; width: 30%; display: inline-block; @include ellipsis(); }
				.options-selector {
					width: 70%; display: inline-block; float: right; background: $input-back;
					input { width: calc(100% - #{$options-height + 21px}); display: inline-block; float: left; border: none; padding: 0px 10px; height: $options-height; background: transparent; color: $input-clr; }
					.options-button { width: $options-height; display: inline-block; float: right; text-align: center; color: $input-clr; border-left: 1px solid #6a7e84; }
					&:hover { input, .options-button { color: white; }}
				}
			}
		}
	}
}
.jq-dropdown > div { border: none; @include clearfix(); }
#dropdown-datasource {
	width: 300px;
	.datasource-opt {
		width: calc(50% - 1px); display: inline-block; float: left; text-align: center; padding: 6px 0px; background: $nonactive-clr; color: white; margin: 1px 0; border-radius: 3px; &:nth-child(odd) { margin-right: 2px; }
		&.active { background-color: $header-clr; }
	}
}
#dropdown-region {
	ul {
		max-height: 350px; overflow: auto;
		li {
			padding: 4px 20px; &:hover { background: lightgray; }
		}
	}
}

.date-picker-wrapper {
	background: white; font-family: 'SF Regular'; border-radius: 3px; border: none;
	.drp_top-bar {
		.apply-btn { background-color: $header-clr; color: white; border: none; padding: 5px 15px; }
		b { font-family: 'SF Bold'; color: $header-clr; }
	}
	.month-wrapper {
		border-color: $header-clr;
		.gap {
			.gap-line .gap-1 { border-top-color: $header-clr; border-bottom-color: $header-clr; }
			.gap-top-mask, .gap-bottom-mask { background-color: transparent; }
		}
		table {
			thead { font-family: 'SF Bold'; color: $header-clr; }
			.day.checked { background-color: $header-clr; color: white!important; }
			.day.first-date-selected, .day.last-date-selected { background-color: $header-clr!important; }
			.day.real-today { background-color: lightgray; }
		}
	}
}
